CMakeCache.txt
CMakeFiles/*
CTestTestfile.cmake
Makefile
cmake_install.cmake
gtest/CMakeFiles/
gtest/CTestTestfile.cmake
gtest/Makefile
gtest/cmake_install.cmake
gtest/libgtest.a
gtest/libgtest_main.a
packing-box
runUnitTests
